<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Author" contect="http://www.webqin.net">
    <title>向农网</title>
    <link rel="shortcut icon" href="images/favicon.ico"/>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/response.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="maincont">
    <div class="index-pro1">
        <div class="index-pro1-list">
            <dl>
                <dt><a href="proinfo.html"><img src="http://60.205.182.88:8080/pxun/images/main.jpg"/></a></dt>
                <dd class="ip-text"><a href="proinfo.html">这是产品的名称</a><span>已售：488</span></dd>
                <dd class="ip-price"><strong>¥299</strong> <span>¥599</span></dd>
            </dl>
        </div>
        <div class="index-pro1-list">
            <dl>
                <dt><a href="proinfo.html"><img src="images/pro1.jpg"/></a></dt>
                <dd class="ip-text"><a href="proinfo.html">这是产品的名称</a></dd>
                <dd class="ip-price"><strong>¥299</strong> <span>¥599</span></dd>
            </dl>
        </div>
        <div class="index-pro1-list">
            <dl>
                <dt><a href="proinfo.html"><img src="images/pro1.jpg"/></a></dt>
                <dd class="ip-text"><a href="proinfo.html">这是产品的名称</a><span>已售：488</span></dd>
                <dd class="ip-price"><strong>¥299</strong> <span>¥599</span></dd>
            </dl>
        </div>
        <div class="index-pro1-list">
            <dl>
                <dt><a href="proinfo.html"><img src="images/pro1.jpg"/></a></dt>
                <dd class="ip-text"><a href="proinfo.html">这是产品的名称</a></dd>
                <dd class="ip-price"><strong>¥299</strong> <span>¥599</span></dd>
            </dl>
        </div>
        <div class="index-pro1-list">
            <dl>
                <dt><a href="proinfo.html"><img src="images/pro1.jpg"/></a></dt>
                <dd class="ip-text"><a href="proinfo.html">这是产品的名称</a><span>已售：488</span></dd>
                <dd class="ip-price"><strong>¥299</strong> <span>¥599</span></dd>
            </dl>
        </div>
        <div class="index-pro1-list">
            <dl>
                <dt><a href="proinfo.html"><img src="images/pro1.jpg"/></a></dt>
                <dd class="ip-text"><a href="proinfo.html">这是产品的名称</a></dd>
                <dd class="ip-price"><strong>¥299</strong> <span>¥599</span></dd>
            </dl>
        </div>
        <div class="index-pro1-list">
            <dl>
                <dt><a href="proinfo.html"><img src="images/pro1.jpg"/></a></dt>
                <dd class="ip-text"><a href="proinfo.html">这是产品的名称</a><span>已售：488</span></dd>
                <dd class="ip-price"><strong>¥299</strong> <span>¥599</span></dd>
            </dl>
        </div>
        <div class="index-pro1-list">
            <dl>
                <dt><a href="proinfo.html"><img src="images/pro1.jpg"/></a></dt>
                <dd class="ip-text"><a href="proinfo.html">这是产品的名称</a></dd>
                <dd class="ip-price"><strong>¥299</strong> <span>¥599</span></dd>
            </dl>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="height1"></div>
    <div class="footNav">
        <dl>
            <a href="index.html">
                <dt><span class="glyphicon glyphicon-home"></span></dt>
                <dd>微店</dd>
            </a>
        </dl>
        <dl>
            <a href="prolist.html">
                <dt><span class="glyphicon glyphicon-th"></span></dt>
                <dd>所有商品</dd>
            </a>
        </dl>
        <dl>
            <a href="car.html">
                <dt><span class="glyphicon glyphicon-shopping-cart"></span></dt>
                <dd>购物车</dd>
            </a>
        </dl>
        <dl>
            <a href="user.html">
                <dt><span class="glyphicon glyphicon-user"></span></dt>
                <dd>我的</dd>
            </a>
        </dl>
        <div class="clearfix"></div>
    </div><!--footNav/-->
</div><!--maincont-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/style.js"></script>
<!--焦点轮换-->
<script src="js/jquery.excoloSlider.js"></script>
<script>
    $(function () {
        $("#sliderA").excoloSlider();
    });
</script>
</body>
</html>